<div class="layout-container">
    <h2>Reactive control:</h2>
    <ax-control title="Title">
        <input [formControl]="textControl" placeholder="Placeholder">
        <ng-template axValidation="required">Field is required</ng-template>
        <ng-template axValidation="maxlength">Max length is 10 chars</ng-template>
    </ax-control>

    <h2>Disabled control:</h2>
    <ax-control title="Title">
        <input [formControl]="disabledControl" placeholder="Placeholder">
    </ax-control>

    <h2>Template-driven control:</h2>
    <ax-control title="Title">
        <input [(ngModel)]="text" placeholder="Placeholder">
    </ax-control>
</div>
